/* navbar text */
.navbar-brand {
  width: max-content;
  color: white;
}

/* background for page */
body {
  background-color: lightslategray;
}

/* image styling */
.jumbotron{
  background-image: url('../images/earth-1756274_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

/* text on the image */
.jumbo-text {
  color: white;
  padding-top: 110px;
}

/* styling for input form */
form {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}
/* margins for items in the input form */
label, input, .form-button, .reset_button {
  margin-bottom: 10px;
}

/* table stylings */
table {
  margin-top: 30px;
  background-color: transparent;
}
/* table header styling */
.theader {
  color: rgb(90, 103, 116);
  background-color: white;
}