.navbar-brand {
  width: max-content;
  color: white;
}

body {
  background-color: lightslategray;
}

.jumbotron{
  background-image: url('../images/earth-1756274_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.jumbo-text {
  color: white;
  padding-top: 80px;
}

form {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}

label, input, .form-button {
  margin-bottom: 10px;
}

table {
  margin-top: 30px;
}