/* vertical scrollbar in dropdowns */
.force-scroll {
  overflow-y: scroll;
  height: min-content;
  max-height: 200px;
}

/* background image for body */
body {
  background-image: url('../images/eclipse.jpg');
}

/* giving the top navbar text a more legible colour */
.navtitle {
  background-color: rgb(80, 1, 60);
}

/* having the page name be white... */
.navbar-brand {
  color: white;
}

/* ...and remain so with hovering */
.navbar-brand:hover {
  color: white;
}

/* moving container elements downwards a small bit */
.container {
  padding-top: 30px;
}